<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>图片自动轮转.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A12B842C1C27EEBB00337864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A12B84451C27EEBB00337864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A12B84501C27EEBB00337864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
